<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVALUANET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <h2 id="titol"> AVALUANET </h2>
    <form action="../../../index2.php" method="post">
        <div class="simple-login-container">

            <div class="row">
                <div class="col-md-12 form-group">
                    <input id="login"  name="login" type="text" class="form-control" placeholder="Nombre de usuario">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input id="password" name="password" type="password" placeholder="Contraseña" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button type="submit" class="btn btn-primary btn-block mt-3" id="loginbtn"
                        onclick="">Acceder</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <a href="registrar.html" class="btn btn-primary btn-block mt-3"
                        id="loginbtn">Registrarse</a>

                </div>
            </div>

        </div>
        </div>
    </form>

</body>

</html>