<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Avaluanet</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
          
            <meta name="viewport" content="width=device-width, initial-scale=1"> 
          
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
            
            <link rel="stylesheet" href="utils/css/main.css">
    
    </head>

<body>


    <br>
    <br>
    <br>
    <div class="container">
        <h2 id="titol"> Log in </h2>
        <form action="index.php?module=Professor&function=acceder" method="post" id="formulario">
            <div class="simple-login-container">

                <div class="row">
                    <div class="col-md-12 form-group">
                        <input id="login" name="login" type="text" class="form-control" placeholder="Nombre de usuario">
                        <p class="text-danger" id="mal5" style="margin-left:2%;"></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input id="password" name="password" type="password" placeholder="Contraseña"
                            class="form-control">
                        <p class="text-danger" id="mal6" style="margin-left:2%;"></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-outline-success" id="loginbtn"
                            onclick="">Acceder</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <a href="index.php?module=Professor&function=vistaReg" class="btn btn-outline-info"
                            id="regbtn">Registrarse</a>

                    </div>
                </div>
                <p class="text-danger" id="error" style="margin-left:2%;"></p>
            </div>
        </form>
    </div>
</body>

</html>