<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Avaluanet</title>
</head>
<header>
    <a href="index.php?module=Alumne&function=alta">anyadir alumne</a>
    <a href="index.php?module=Professor&function=login">Login</a>
    <a href="index.php?module=Asignatura&function=llistar">Llistar Asignatures</a>
    <a href="index.php?module=Asignatura&function=alta">Alta Nova Asignatura</a>
    <a href="index.php?module=Asignatura&function=modificar">Modificar Asignatura</a>

</header>

<body>