<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estils.css">

    <title>BAIXA ASSIGNATURES</title>

</head>

<body>

    <header>

        <div class="bg-success">

            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">

                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
                </a>

                <div class="container-fluid">
                    <span class="navbar-brand mb-0 fs-2 text-white">AVALUANET</span>
                </div>

                <div class="col-md-12 text-end">
                    <button type="button" class="btn btn-outline-light me-3">Login</button>
                    <button type="button" class="btn btn-outline-light me-5">Sign-up</button>
                </div>

            </header>

        </div>

    </header>

    <section>

        <p class="fs-3 ms-3">LES MEUES ASSIGNATURES</p>

        <div class="container">

            <form action="">

                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Denominació</th>
                            <th scope="col">Nivell</th>
                            <th scope="col">Curs</th>
                            <th scope="col">Hores Setmanals</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <th scope="row">1</th>
                            <td>Programació</td>
                            <td>Primer</td>
                            <td>Desenrotllament d'Aplicacions Web</td>
                            <td>8</td>
                            <td><button type="button" class="btn btn-danger">Eliminar</button></td>

                        </tr>

                        <tr>
                            <th scope="row">2</th>
                            <td>Entorns de Desenrotllament</td>
                            <td>Primer</td>
                            <td>Desenrotllament d'Aplicacions Web</td>
                            <td>3</td>
                            <td><button type="button" class="btn btn-danger">Eliminar</button></td>

                        </tr>

                        <tr>
                            <th scope="row">3</th>
                            <td>Llenguatge de Marques</td>
                            <td>Primer</td>
                            <td>Desenrotllament d'Aplicacions Web</td>
                            <td>3</td>
                            <td><button type="button" class="btn btn-danger">Eliminar</button></td>

                        </tr>

                    </tbody>

                </table>

            </form>
        </div>

    </section>

    <section>

        <div>

            <a href="./asignatures.html"><button type="button" class="btn btn-outline-success ms-5">Tornar</button></a>

        </div>
    </section>

</body>

</html>